<!DOCTYPE html>
<html lang="he" dir="rtl">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>FLYTAU - התחברות</title>
</head>
<body>
    <div class="container">

        <img src="{{ url_for('static', filename='flytau logo.png') }}" alt="FLYTAU Logo" class="logo">

        <h1>שלום, התחברו למערכת</h1>

        <form action="/login" method="POST">
            <input type="text" name="identifier" placeholder="אימייל או תעודת זהות" required>
            <input type="password" name="password" placeholder="סיסמה" required>
            <button type="submit">התחבר</button>
        </form>

        <p>משתמש חדש? <a href="/register">הירשם כאן</a></p>
    </div>
</body>
</html>